<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Atualizar tarefa</ion-title>
    <ion-icon
      name="close"
      slot="end"
      size="larger"
      class="ion-padding"
      (click)="dismiss()"
    ></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-align-self-center">
    <ion-item>
      <ion-textarea
        [(ngModel)]="nomeTarefa"
        [autoGrow]="true"
        placeholder="Atualize sua tarefa aqui"
      ></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label>Prioridade</ion-label>
      <ion-select [(ngModel)]="prioridadeTarefa">
        <ion-select-option value="Low">Baixa</ion-select-option>
        <ion-select-option value="Middle">Média</ion-select-option>
        <ion-select-option value="High" selected>Alta</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-icon name="calendar-outline" slot="start"></ion-icon>
      <ion-label>Vencimento: </ion-label>
      <ion-datetime
        [(ngModel)]="dataTarefa"
        displayFormat="D MMM YYYY H:mm"
      ></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-icon name="pricetag-outline" slot="start"></ion-icon>
      <ion-label>Categoria:</ion-label>
      <span>{{atualCategoriaSelecionada}}</span>
    </ion-item>

    <ion-item>
      <ion-chip
        *ngFor="let categoria of categorias; let i = index"
        color="secondary"
        outline="true"
        (click)="selecionarCategoria(i)"
      >
        <ion-label color="secondary">{{categoria}}</ion-label>
      </ion-chip>
    </ion-item>

    <ion-button class="ion-margin" expand="block" (click)="atualizar()"
      >Atualizar tarefa</ion-button
    >
  </ion-card>
</ion-content>
